
/****** Object:  Database [QuanLyBenhVienDb]    Script Date: 5/24/2026 10:09:32 AM ******/



/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/24/2026 10:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 5/24/2026 10:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[Reason] [nvarchar](200) NOT NULL,
	[AppointmentTime] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 5/24/2026 10:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentCode] [nvarchar](50) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[HeadDoctor] [nvarchar](100) NULL,
	[TotalBeds] [int] NOT NULL,
	[OccupiedBeds] [int] NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HospitalFees]    Script Date: 5/24/2026 10:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospitalFees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FeeCode] [nvarchar](50) NOT NULL,
	[FeeName] [nvarchar](200) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[InsuranceCoverage] [decimal](5, 2) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabTests]    Script Date: 5/24/2026 10:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabTests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MedicalRecordId] [int] NOT NULL,
	[TestName] [nvarchar](200) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Result] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecords]    Script Date: 5/24/2026 10:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[Symptoms] [nvarchar](max) NOT NULL,
	[Diagnosis] [nvarchar](max) NOT NULL,
	[TreatmentPlan] [nvarchar](max) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[AdmissionDate] [datetime2](7) NULL,
	[DischargeDate] [datetime2](7) NULL,
	[RoomFee] [decimal](18, 2) NOT NULL,
	[DepartmentId] [int] NULL,
	[BedNumber] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[SurgeonId] [int] NULL,
	[SurgeryFeeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 5/24/2026 10:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[Category] [nvarchar](100) NULL,
	[StockQuantity] [int] NOT NULL,
	[MinStock] [int] NOT NULL,
	[Manufacturer] [nvarchar](200) NULL,
	[ExpiryDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicineUnits]    Script Date: 5/24/2026 10:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineUnits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [nvarchar](50) NOT NULL,
	[DefaultPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 5/24/2026 10:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[PatientCode] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrescriptionDetails]    Script Date: 5/24/2026 10:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescriptionDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrescriptionId] [int] NOT NULL,
	[MedicineName] [nvarchar](200) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[DosageInstruction] [nvarchar](255) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 5/24/2026 10:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MedicalRecordId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SurgeryTypes]    Script Date: 5/24/2026 10:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurgeryTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/24/2026 10:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[SDT] [varchar](20) NULL,
	[BSPhauThuat] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VitalSigns]    Script Date: 5/24/2026 10:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VitalSigns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[Pulse] [nvarchar](50) NULL,
	[Temperature] [nvarchar](50) NULL,
	[BloodPressure] [nvarchar](50) NULL,
	[SpO2] [nvarchar](50) NULL,
	[NurseName] [nvarchar](100) NULL,
	[RecordedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkSchedules]    Script Date: 5/24/2026 10:09:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkSchedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[WorkTime] [nvarchar](50) NOT NULL,
	[ShiftName] [nvarchar](50) NOT NULL,
	[WorkDate] [date] NOT NULL,
	[WeekNumber] [int] NOT NULL,
	[MonthNumber] [int] NOT NULL,
	[YearNumber] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260510141003_InitialCreate', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260512064306_AddMedicalModules', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260512071233_AddMedicineModel', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([Id], [PatientId], [Reason], [AppointmentTime], [Status]) VALUES (1, 1, N'Đau thắt ngực, khó thở', CAST(N'2026-05-22T08:30:00.0000000' AS DateTime2), 10)
INSERT [dbo].[Appointments] ([Id], [PatientId], [Reason], [AppointmentTime], [Status]) VALUES (2, 2, N'Tái khám huyết áp', CAST(N'2026-05-22T09:00:00.0000000' AS DateTime2), 5)
INSERT [dbo].[Appointments] ([Id], [PatientId], [Reason], [AppointmentTime], [Status]) VALUES (3, 3, N'Đánh trống ngực liên tục', CAST(N'2026-05-22T09:30:00.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [DepartmentCode], [DepartmentName], [Description], [HeadDoctor], [TotalBeds], [OccupiedBeds], [Phone], [IsActive]) VALUES (1, N'KNT', N'Khoa Nội Tổng Hợp', N'Chuyên điều trị các bệnh nội khoa', N'BS. Nguyễn Văn A', 50, 0, N'0901234567', 1)
INSERT [dbo].[Departments] ([Id], [DepartmentCode], [DepartmentName], [Description], [HeadDoctor], [TotalBeds], [OccupiedBeds], [Phone], [IsActive]) VALUES (2, N'KNG', N'Khoa Ngoại', N'Chuyên phẫu thuật điều trị', N'BS. Trần Thị B', 50, 1, N'0902345678', 1)
INSERT [dbo].[Departments] ([Id], [DepartmentCode], [DepartmentName], [Description], [HeadDoctor], [TotalBeds], [OccupiedBeds], [Phone], [IsActive]) VALUES (3, N'KSN', N'Khoa Sản', N'Chăm sóc sức khỏe phụ sản', N'BS. Lê Văn C', 50, 1, N'0903456789', 1)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[HospitalFees] ON 

INSERT [dbo].[HospitalFees] ([Id], [FeeCode], [FeeName], [Category], [Price], [InsuranceCoverage], [Description], [IsActive], [CreatedAt]) VALUES (1, N'KB01', N'Khám bệnh chuyên khoa', N'Khám bệnh', CAST(150000.00 AS Decimal(18, 2)), CAST(80.00 AS Decimal(5, 2)), N'Khám bệnh ngoại trú', 1, CAST(N'2026-05-22T08:41:55.0300000' AS DateTime2))
INSERT [dbo].[HospitalFees] ([Id], [FeeCode], [FeeName], [Category], [Price], [InsuranceCoverage], [Description], [IsActive], [CreatedAt]) VALUES (2, N'XN01', N'Xét nghiệm máu tổng quát', N'Xét nghiệm', CAST(250000.00 AS Decimal(18, 2)), CAST(80.00 AS Decimal(5, 2)), N'Công thức máu, đường huyết', 1, CAST(N'2026-05-22T08:41:55.0300000' AS DateTime2))
INSERT [dbo].[HospitalFees] ([Id], [FeeCode], [FeeName], [Category], [Price], [InsuranceCoverage], [Description], [IsActive], [CreatedAt]) VALUES (3, N'CD01', N'Siêu âm ổ bụng', N'Chẩn đoán hình ảnh', CAST(300000.00 AS Decimal(18, 2)), CAST(80.00 AS Decimal(5, 2)), N'Siêu âm ổ bụng tổng quát', 1, CAST(N'2026-05-22T08:41:55.0300000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[HospitalFees] OFF
GO
SET IDENTITY_INSERT [dbo].[LabTests] ON 

INSERT [dbo].[LabTests] ([Id], [MedicalRecordId], [TestName], [Status], [Result], [CreatedAt], [CompletedAt]) VALUES (1, 1, N'CBC', N'Đã có kết quả', N'ko sao cả', CAST(N'2026-05-22T09:09:34.1893743' AS DateTime2), CAST(N'2026-05-22T09:09:48.0074198' AS DateTime2))
INSERT [dbo].[LabTests] ([Id], [MedicalRecordId], [TestName], [Status], [Result], [CreatedAt], [CompletedAt]) VALUES (2, 1, N'SinhHoa', N'Đã có kết quả', N'ko sao cả', CAST(N'2026-05-22T09:09:34.2034734' AS DateTime2), CAST(N'2026-05-22T09:09:46.3415302' AS DateTime2))
INSERT [dbo].[LabTests] ([Id], [MedicalRecordId], [TestName], [Status], [Result], [CreatedAt], [CompletedAt]) VALUES (3, 1, N'XQuang', N'Đã có kết quả', N'ko sao cả', CAST(N'2026-05-22T09:09:34.2044749' AS DateTime2), CAST(N'2026-05-22T09:09:44.4953810' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LabTests] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalRecords] ON 

INSERT [dbo].[MedicalRecords] ([Id], [AppointmentId], [Symptoms], [Diagnosis], [TreatmentPlan], [Notes], [AdmissionDate], [DischargeDate], [RoomFee], [DepartmentId], [BedNumber], [CreatedAt], [SurgeonId], [SurgeryFeeId]) VALUES (1, 1, N'đau bụng ', N'dạ dày ', N'ăn uốn lành mạnh/ thuốc gia tăng hiệu qur đường  ruột ', N'ko có 
[KEDONTHUOC]
[XETNGHIEM_DONE]
[PHAUTHUAT]', NULL, NULL, CAST(65000.00 AS Decimal(18, 2)), NULL, NULL, CAST(N'2026-05-22T09:09:00.6730604' AS DateTime2), NULL, NULL)
INSERT [dbo].[MedicalRecords] ([Id], [AppointmentId], [Symptoms], [Diagnosis], [TreatmentPlan], [Notes], [AdmissionDate], [DischargeDate], [RoomFee], [DepartmentId], [BedNumber], [CreatedAt], [SurgeonId], [SurgeryFeeId]) VALUES (2, 2, N'ưe4rt', N'e5tyg5et', N'e5tet', N'êttet
[KEDONTHUOC]
[XUATVIEN] - Tiền phòng: 65,000 VNĐ (1 ngày)', CAST(N'2026-05-22T09:11:39.2883880' AS DateTime2), CAST(N'2026-05-22T09:11:41.9177915' AS DateTime2), CAST(65000.00 AS Decimal(18, 2)), 3, 14, CAST(N'2026-05-22T09:11:16.1859500' AS DateTime2), NULL, NULL)
INSERT [dbo].[MedicalRecords] ([Id], [AppointmentId], [Symptoms], [Diagnosis], [TreatmentPlan], [Notes], [AdmissionDate], [DischargeDate], [RoomFee], [DepartmentId], [BedNumber], [CreatedAt], [SurgeonId], [SurgeryFeeId]) VALUES (3, 6, N'ế', N'sfesfs', N'sfesfes', N'sfesfes
[PHAUTHUAT]
[XUATVIEN] - Tiền phòng: 65,000 VNĐ (1 ngày)', CAST(N'2026-05-22T09:22:07.7629101' AS DateTime2), CAST(N'2026-05-22T09:22:23.5302490' AS DateTime2), CAST(65000.00 AS Decimal(18, 2)), 2, 5, CAST(N'2026-05-22T09:12:28.7589581' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[MedicalRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicines] ON 

INSERT [dbo].[Medicines] ([Id], [Name], [Price], [Unit], [Category], [StockQuantity], [MinStock], [Manufacturer], [ExpiryDate], [IsActive]) VALUES (1, N'Paracetamol 500mg', CAST(50000.00 AS Decimal(18, 2)), N'Hộp', N'Giảm đau, hạ sốt', 100, 20, N'Dược Hậu Giang', CAST(N'2025-12-31T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Medicines] ([Id], [Name], [Price], [Unit], [Category], [StockQuantity], [MinStock], [Manufacturer], [ExpiryDate], [IsActive]) VALUES (2, N'Amoxicillin 500mg', CAST(120000.00 AS Decimal(18, 2)), N'Hộp', N'Kháng sinh', 50, 10, N'Domesco', CAST(N'2026-06-30T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Medicines] ([Id], [Name], [Price], [Unit], [Category], [StockQuantity], [MinStock], [Manufacturer], [ExpiryDate], [IsActive]) VALUES (3, N'Vitamin C 1000mg', CAST(85000.00 AS Decimal(18, 2)), N'Lọ', N'Vitamin & Khoáng chất', 200, 30, N'Traphaco', CAST(N'2027-01-15T00:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Medicines] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicineUnits] ON 

INSERT [dbo].[MedicineUnits] ([Id], [UnitName], [DefaultPrice]) VALUES (1, N'Viên', CAST(5000.00 AS Decimal(18, 2)))
INSERT [dbo].[MedicineUnits] ([Id], [UnitName], [DefaultPrice]) VALUES (2, N'Vỉ', CAST(8000.00 AS Decimal(18, 2)))
INSERT [dbo].[MedicineUnits] ([Id], [UnitName], [DefaultPrice]) VALUES (3, N'Lọ', CAST(20000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[MedicineUnits] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([Id], [FullName], [Gender], [Age], [PatientCode]) VALUES (1, N'Trần Văn Lâm', N'Nam', 45, N'BN1293')
INSERT [dbo].[Patients] ([Id], [FullName], [Gender], [Age], [PatientCode]) VALUES (2, N'Hoàng Thị Mai', N'Nữ', 32, N'BN1294')
INSERT [dbo].[Patients] ([Id], [FullName], [Gender], [Age], [PatientCode]) VALUES (3, N'Phạm Quốc Quân', N'Nam', 58, N'BN1295')
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[PrescriptionDetails] ON 

INSERT [dbo].[PrescriptionDetails] ([Id], [PrescriptionId], [MedicineName], [Quantity], [Unit], [DosageInstruction], [Price]) VALUES (1, 1, N'tăng liệu lường ', 2, N'Ống', N'1 ngày 3,6 lọ', CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[PrescriptionDetails] ([Id], [PrescriptionId], [MedicineName], [Quantity], [Unit], [DosageInstruction], [Price]) VALUES (2, 2, N'gtr5hy', 1, N'Viên', N'ẻtge', CAST(5000.00 AS Decimal(18, 2)))
INSERT [dbo].[PrescriptionDetails] ([Id], [PrescriptionId], [MedicineName], [Quantity], [Unit], [DosageInstruction], [Price]) VALUES (3, 3, N'tăng liệu lường ', 1, N'Viên', N'r3wefsf', CAST(5000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PrescriptionDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Prescriptions] ON 

INSERT [dbo].[Prescriptions] ([Id], [MedicalRecordId], [CreatedAt], [Status]) VALUES (1, 1, CAST(N'2026-05-22T09:09:03.2730972' AS DateTime2), N'Đã kê đơn')
INSERT [dbo].[Prescriptions] ([Id], [MedicalRecordId], [CreatedAt], [Status]) VALUES (2, 2, CAST(N'2026-05-22T09:11:17.9656454' AS DateTime2), N'Đã kê đơn')
INSERT [dbo].[Prescriptions] ([Id], [MedicalRecordId], [CreatedAt], [Status]) VALUES (3, 5, CAST(N'2026-05-22T14:34:46.2012488' AS DateTime2), N'Đã kê đơn')
SET IDENTITY_INSERT [dbo].[Prescriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[SurgeryTypes] ON 

INSERT [dbo].[SurgeryTypes] ([Id], [Name], [Price]) VALUES (1, N'Mổ ruột thừa', CAST(5000000.00 AS Decimal(18, 2)))
INSERT [dbo].[SurgeryTypes] ([Id], [Name], [Price]) VALUES (2, N'Mổ trĩ', CAST(3000000.00 AS Decimal(18, 2)))
INSERT [dbo].[SurgeryTypes] ([Id], [Name], [Price]) VALUES (3, N'Mổ nội soi dạ dày', CAST(7000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SurgeryTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Role], [FullName], [Email], [SDT], [BSPhauThuat]) VALUES (1, N'admin', N'123', N'Admin', N'Quản trị viên hệ thống', N'admin@benhvien.com', N'0901111222', 0)
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role], [FullName], [Email], [SDT], [BSPhauThuat]) VALUES (2, N'doctor', N'123', N'Doctor', N'BS. Nguyễn Văn A', N'nguyenvana.bs@gmail.com', N'0987654321', 0)
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role], [FullName], [Email], [SDT], [BSPhauThuat]) VALUES (3, N'bs_a', N'123456', N'Doctor', N'BS. Nguyễn Văn A', N'bs.a@benhvien.com', N'0901234567', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VitalSigns] ON 

INSERT [dbo].[VitalSigns] ([Id], [AppointmentId], [Pulse], [Temperature], [BloodPressure], [SpO2], [NurseName], [RecordedAt]) VALUES (1, 1, N'65', N'35', N'533', N'90', N'ahihi', CAST(N'2026-05-22T09:10:04.1329798' AS DateTime2))
INSERT [dbo].[VitalSigns] ([Id], [AppointmentId], [Pulse], [Temperature], [BloodPressure], [SpO2], [NurseName], [RecordedAt]) VALUES (2, 3, N'80', N'35', N'120/80', N'90', N'ahihi', CAST(N'2026-05-22T09:21:15.3580800' AS DateTime2))
INSERT [dbo].[VitalSigns] ([Id], [AppointmentId], [Pulse], [Temperature], [BloodPressure], [SpO2], [NurseName], [RecordedAt]) VALUES (3, 12, N'80', N'35', N'120/80', N'90', N'ahihi', CAST(N'2026-05-22T09:28:41.1302801' AS DateTime2))
SET IDENTITY_INSERT [dbo].[VitalSigns] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkSchedules] ON 

INSERT [dbo].[WorkSchedules] ([Id], [UserId], [WorkTime], [ShiftName], [WorkDate], [WeekNumber], [MonthNumber], [YearNumber]) VALUES (1, 1, N'06:00 - 09:00', N'Ca 1 (06:00 - 09:00)', CAST(N'2026-05-12' AS Date), 20, 5, 2026)
INSERT [dbo].[WorkSchedules] ([Id], [UserId], [WorkTime], [ShiftName], [WorkDate], [WeekNumber], [MonthNumber], [YearNumber]) VALUES (2, 2, N'09:00 - 12:00', N'Ca 2 (09:00 - 12:00)', CAST(N'2026-05-12' AS Date), 20, 5, 2026)
INSERT [dbo].[WorkSchedules] ([Id], [UserId], [WorkTime], [ShiftName], [WorkDate], [WeekNumber], [MonthNumber], [YearNumber]) VALUES (3, 3, N'12:00 - 15:00', N'Ca 3 (12:00 - 15:00)', CAST(N'2026-05-12' AS Date), 20, 5, 2026)
GO
SET IDENTITY_INSERT [dbo].[WorkSchedules] OFF
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((50)) FOR [TotalBeds]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((0)) FOR [OccupiedBeds]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[HospitalFees] ADD  DEFAULT ((0)) FOR [InsuranceCoverage]
GO
ALTER TABLE [dbo].[HospitalFees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[HospitalFees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LabTests] ADD  DEFAULT (N'Chờ xét nghiệm') FOR [Status]
GO
ALTER TABLE [dbo].[LabTests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MedicalRecords] ADD  DEFAULT ((65000)) FOR [RoomFee]
GO
ALTER TABLE [dbo].[MedicalRecords] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Medicines] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Medicines] ADD  DEFAULT ((10)) FOR [MinStock]
GO
ALTER TABLE [dbo].[Medicines] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MedicineUnits] ADD  DEFAULT ((0)) FOR [DefaultPrice]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT (N'Nam') FOR [Gender]
GO
ALTER TABLE [dbo].[PrescriptionDetails] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Prescriptions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Prescriptions] ADD  DEFAULT (N'Đã kê đơn') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [BSPhauThuat]
GO
ALTER TABLE [dbo].[VitalSigns] ADD  DEFAULT (getdate()) FOR [RecordedAt]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Patients]
GO
ALTER TABLE [dbo].[LabTests]  WITH CHECK ADD  CONSTRAINT [FK_LabTests_MedicalRecords] FOREIGN KEY([MedicalRecordId])
REFERENCES [dbo].[MedicalRecords] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LabTests] CHECK CONSTRAINT [FK_LabTests_MedicalRecords]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecords_Appointments] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MedicalRecords] CHECK CONSTRAINT [FK_MedicalRecords_Appointments]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecords_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[MedicalRecords] CHECK CONSTRAINT [FK_MedicalRecords_Departments]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecords_Surgeon] FOREIGN KEY([SurgeonId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[MedicalRecords] CHECK CONSTRAINT [FK_MedicalRecords_Surgeon]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecords_SurgeryFee] FOREIGN KEY([SurgeryFeeId])
REFERENCES [dbo].[HospitalFees] ([Id])
GO
ALTER TABLE [dbo].[MedicalRecords] CHECK CONSTRAINT [FK_MedicalRecords_SurgeryFee]
GO
ALTER TABLE [dbo].[PrescriptionDetails]  WITH CHECK ADD  CONSTRAINT [FK_PrescriptionDetails_Prescriptions] FOREIGN KEY([PrescriptionId])
REFERENCES [dbo].[Prescriptions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PrescriptionDetails] CHECK CONSTRAINT [FK_PrescriptionDetails_Prescriptions]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_MedicalRecords] FOREIGN KEY([MedicalRecordId])
REFERENCES [dbo].[MedicalRecords] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_MedicalRecords]
GO
ALTER TABLE [dbo].[VitalSigns]  WITH CHECK ADD  CONSTRAINT [FK_VitalSigns_Appointments] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VitalSigns] CHECK CONSTRAINT [FK_VitalSigns_Appointments]
GO
ALTER TABLE [dbo].[WorkSchedules]  WITH CHECK ADD  CONSTRAINT [FK_WorkSchedules_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[WorkSchedules] CHECK CONSTRAINT [FK_WorkSchedules_Users]
GO
USE [master]
GO
